.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0 2rem;
  padding: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.featuredTitle {
  font-size: 2rem;
}

.featuredMoneyContainer {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.featuredMoney {
  font-size: 3rem;
  font-weight: 500;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.featuredIcon {
  font-size: 1.4rem !important;
  margin-left: 0.5rem;
  color: green;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  font-size: 1.5rem;
  color: grey;
}
